<h1>Messages</h1>

<%= f = form_for :message, "#", [phx_submit: :send_message] %>
  <%= text_input f, :body %>
  <div>
    <%= submit "Send", phx_disable_with: "Sending..." %>
  </div>
</form>


<table>
  <thead>
    <tr>
      <th>Time</th>
      <th>Message</th>
    </tr>
  </thead>
  <tbody>
<%= for message <- @messages do %>
    <tr>
      <td><%= message.timestamp |> DateTime.to_iso8601() %></td>
      <td><%= message.body %></td>
    </tr>
<% end %>
  </tbody>
</table>
